#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #F9FAFB;
}

@media print {
  @page {
    size: 80mm auto;
    margin: 0;
  }

  html, body {
    width: 80mm;
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
    margin: 2px;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
  }

  #print-area {
    page-break-inside: avoid;
  }

  .receipt-item {
    page-break-inside: avoid;
  }
}